/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* fonts */
@import url(../fonts/fonts.css);
/* all settings*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Gilroy';
}
h2{
    font-family: Playfair Display;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 30px;
}
h3{
    font-family: Gilroy;
    font-size: 18px;
    line-height: 139.4%;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
    margin-top: 100px;
}
/* first block */
.first_block{
    background-image: url(../img/first-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 55px;
}
/* header */
.header{
    position: fixed;
    top:0;
    width: 100%;
    background: rgba(26, 26, 27, 0.623);
    z-index: 999;
}
.header_contacts{
    height: 55px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.header_contacts li{
    margin: 0 10px;
    cursor: pointer;
}
.header_contacts__phonenumbers,.header_contacts__social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 30px;
}
/* header navigation */
.header_nav{
    height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 18px;
    color: white;
    font-weight: 400;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 200px;
}
.header_nav .logo,.seventh_block .logo{
    font-family: 'GilroyBold';
    font-size: 24px;
    font-weight: 900;
    color: #FF9900;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80px;
    cursor: pointer;
}
.header_nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-item-align: center;
        align-self: center;
    letter-spacing: 0.07em;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 999;
}
.header_nav li{
    height: 30px;
    cursor: pointer;
}
.header_nav ul.header_nav__list li:hover{
    border-bottom: 2px solid #FF9900;
    color: #FF9900;
}
.order_call{
    height: 37px;
    width: 166px;
    background:inherit;
    border: 2px solid #FF9900;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FF9900;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    cursor: pointer;
}
/* intro */
.intro{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 180px;
}
.intro_title{
    width: 50%;
}
.intro_title h2{
    color: white;
    font-weight: 400;
}
.intro_title p{
    font-size: 18px;
    margin-bottom: 60px;
}
.request{
    height: 43px;
    width: 166px;
    background-color: #FF9900;
    -webkit-box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32);
            box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32);
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    cursor: pointer;
}
/* our_advantages */
.our_advantages{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.our_advantages ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 170px;
    width: 100%;
    list-style:none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.our_advantages li:nth-child(1){background-image: url(../img/fix-price.png);}
.our_advantages li:nth-child(2){background-image: url(../img/money-bag.png);}
.our_advantages li:nth-child(3){background-image: url(../img/business-report.png);}
.our_advantages li:nth-child(4){background-image: url(../img/fast.png);}
.our_advantages li:nth-child(5){background-image: url(../img/guarantee.png);}
.our_advantages li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 20px;
    height: 100%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: right;
    line-height: 30px;
}
/* second block */
.second_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about_us{
    height: 800px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about_us__left_block{
    width: 35%;
    background-image: url(../img/second-bg.jpg);
    background-size: cover;
    background-position: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.about_us__experience{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 220px;
    width: 240px;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #FFB800;
}
.about_us__experience span{
    height: 100px;
    width: 120px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin:20px auto 0;
}
.about_us__experience p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin:0 auto;
}
.about_us__right_block{
    width: 65%;
    background-image: url(../img/about_us__right_bg.png);
    background-position-x: right;
    background-position-y: 300px;
    background-size: auto;
    background-repeat: no-repeat;
}
.about_us__right_block div{
    height: 500px;
    width: 55%;
    margin: 150px auto;
}
.about_us__right_block p{
    font-family: Gilroy;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #7C7C7C;
    line-height: 40px;
}
/* third block */
.third_block{
    height: 530px;
    width: 100%;
    background-color: black;
}
.third_block h2{
    color: white;
    margin-top: 30px;
}
.stages_of_work{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
}
.stages_line ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
/* circles */
.stages_line ul li{
    position: relative;
    width: 150px;
    height: 150px;
}
.stages_line ul li svg {
    position: relative;
    width: 150px;
    height: 150px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top:-60px;
}
.stages_line ul li svg circle {
    width: 150px;
    height: 150px;
    fill: black;
    stroke-width: 5;
    /* stroke: #AFAFAF; */
    stroke: red;
    -webkit-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
            transform: rotate(-35deg);
    -webkit-transform: translate(5px, 5px);
        -ms-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
}
.stages_line ul li svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #AFAFAF;
}
.stages_line ul li svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 87) / 100);
    stroke: #FFB800;
}
.stages_line ul li .step {
    top: 35px;
    left: 43px;
    position: absolute;
}
.stages_line ul.stages_line__circles li::after{
    content: '';
    height: 2px;
    width: 110%;
    background-color: white;
    display: block;
    position: absolute;
    top:45px;
    left:90px;
}
.stages_line ul li:nth-child(6)::after{
    display: none;
}
/* fourth block */
.fourth_block h3,.fourth_block h2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.portfolio{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    background-image: url(../img/about_us__right_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.portfolio_left,.portfolio_right{
    width: 50%;
    padding: 20px;
}
.portfolio h4{
    font-weight: 600;
    font-size: 24px;
    margin: 20px auto;
}
.portfolio p{
    font-size: 18px;
    margin: 20px auto;
}
.portfolio h5{
    font-weight: bold;
    font-size: 18px;
    margin: 10px auto;
}
.portfolio h5 span{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
/* portfolio slider */
.portfolio_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.portfolio_slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}
.portfolio_slider__slide{
    margin: auto 10px;
    width: 100%;
    height: 610px;
    background-image: url(../img/portfolio_slide4.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.portfolio_slider__icons{
    list-style: none;
}
.portfolio_slider__icons img{
    height: 105px;
    width: 102px;
    cursor: pointer;
}
.portfolio_slider__buttons{
    height: 100px;
    width: 100%;
    background-color: #FFB800;
    margin: auto 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.portfolio_slider__radio,.portfolio_slider__arrows{
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.portfolio_slider__radio input,.portfolio_slider__arrows span{
    margin: 15px;
}
.portfolio_slider__arrows span{
    height: 20px;
    width: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    cursor: pointer;
}
.portfolio_slider__arrows span:nth-child(1){-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.portfolio_slider__arrows span:nth-child(2){-webkit-transform: rotate(135deg);-ms-transform: rotate(135deg);transform: rotate(135deg);}
/* fifth bg */
.fifth_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 700px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.48))), url(../img/fifth_bg.jpg);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.48) 100%), url(../img/fifth_bg.jpg);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.48) 100%), url(../img/fifth_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.reviews{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}
.reviews h3{
    margin:90px auto 20px;
}
.reviews h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 139.4%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px auto 30px;
}
.reviews_slider h6{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin:20px auto;
    width: 250px;
}
.reviews_slider p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
/* slider */
.reviews_slider{
    height: 350px;
    overflow: hidden;
    position: relative;
}
.reviews_slider__row{
    height: 70%;
    width: 400%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: absolute;
    top:0;
    left:0;
}
.reviews_slider__item{
    height: 100%;
    width: 25%;
    padding: 40px 100px;
    text-align: center;
}
.review_slider__buttons{
    height: 100px;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin:20px auto;
    position: relative;
    top:250px
}
.review_slider__buttons span{
    height: 30px;
    width: 30px;
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-radius: 3px;
    cursor: pointer;
}
.review_slider__buttons span:nth-child(1){-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.review_slider__buttons span:nth-child(6){-webkit-transform: rotate(135deg);-ms-transform: rotate(135deg);transform: rotate(135deg);}
/* sixth block */
.sixth_block{
    height: 400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFB800;
}
.sixth_block h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}
.sixth_block h4{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.contact_form{
    height: 300px;
    width: 50%;
    margin:40px auto 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.inputs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.inputs input{
    width: 40%;
}
.contact_form input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px; 
    margin: 20px 0;   
}
.contact_form input::-webkit-input-placeholder{
    color:rgba(255, 255, 255, 0.72);
}
.contact_form input[type="submit"]{
    height: 40px;
    width: 130px;
    background-color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    color: #FFB800;
    cursor: pointer;
}
/* seventh block */
.seventh_block{
    height: 400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    color: white;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.seventh_block ul{
    list-style: none;
    margin: 20px;
}
.seventh_block ul li{
    margin: 10px auto 20px;
}
.seventh_block__social img{
    -webkit-filter: invert(50%);
            filter: invert(50%);
}
.seventh_block .logo{
    width: 100%;
}
/* footer */
.footer{
    height: 50px;
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.29);
    border-top: 0.5px solid rgba(255, 255, 255, 0.29);
}
.footer p{
    width: 85%;
    margin:10px auto;
}

/* burger */
.burger{
    height: 60px;
    width: 60px;
    border:3px solid #FF9900;
    margin: 10px;
    border-radius: 10px;
    display: none;
    cursor: pointer;
}
.burger span{
    height: 3px;
    width: 40px;
    background-color: #FF9900;
    display: block;
    margin:11px auto;
}

/* adaptive */

@media (max-width: 575.98px) {
    .stages_line ul.stages_line__circles li::after{
       display: none;
    }
    .stages_line{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .stages_line ul li{
        margin-top: 30px;
    }
    .header{
        height: 100px;
    }
    .header_contacts{
        height: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .header_nav ul.burger_list{
        top:100px !important;
    }
    .header_contacts ul{
        margin: 10px auto;
    }
    .header_nav ul.header_nav__list{
        top:100px;
    }
    .header_nav{
        margin-top: 50px;
    }
    .our_advantages ul{
        height: 100%;
        width: 40%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: auto;
    }
    .our_advantages ul li{
        height: 150px;
        width: 150px;
        margin: auto;
    }
    .stages_line ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 30%;
        margin: 0 auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .third_block{
        height: 100%;
    }
    .about_us__right_block div p{
        font-size: 14px;
        line-height: 16px;
    }
    .portfolio_right{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .portfolio_slider__icons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .portfolio_slider__icons li{
        width: 30%;
        margin: 20px;
    }
    .portfolio_slider__radio input{
        margin: 5px;
    }
    .reviews_slider__item p{
        font-size: 14px;
        line-height: 14px;
    }
    .review_slider__buttons{
        width: 70%;
    }
    .sixth_block .contact_form{
        height: 100%;
        width: 80%;
    }
    .seventh_block{
        height: 100%;
    }
    .seventh_block ul{
        margin: 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .header_nav ul.burger_list{
        top:100px;
    }
}
@media (max-width: 767.98px) {
    .intro_title{
        width: 80%;
    }
    .portfolio{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .portfolio_left,.portfolio_right{
        width: 80%;
    }
    .about_us__right_block p{
        line-height: 15px;
        font-size: 16px;
    }
    .about_us__right_block div{
        width: 70%;
    }
    .header_nav .logo{
        font-size: 30px;
    }
    .stages_line ul li::after{
        width: 50%;
    }
    .reviews{
        width: 100%;
    }
    .reviews_slider__item{
        padding: 20px;
    }
    .header_nav ul.burger_list{
        top:100px;
    }
}
@media (max-width: 991.98px) {
    .about_us__right_block p{
        font-size: 16px;
        line-height: 20px;
    }
    .about_us__right_block div{
        width: 70%;
    }
    .our_advantages li{
        font-size: 16px;
        text-align: center;
    }
    .portfolio{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .portfolio_left,.portfolio_right{
        width: 80%;
    }
    .burger{
        display: block;
    }
    .header_nav__list{
        display: none;
    }
    .header_nav ul.burger_list{
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        position: fixed;
        top:55px;
        left: 0;
        height: 40%;
        width: 50%;
        background: rgba(26, 26, 27, 0.676);
    }
    .header_nav ul.burger_list li{
        width: 70%;
        margin: auto;
    }
    .header_nav ul.burger_list li:hover{
        border:none
    }
    .stages_line ul li{
        height: 100px;
        width: 100px;
    }
    .stages_line ul li::after{
        width: 60%;
    }
    .reviews{
        width: 90%;
    }
}
@media (max-width: 1199.98px) {
    .about_us__right_block div{
        width: 70%;
    }
    .stages_line ul li::after{
        width: 80%;
    }
    .portfolio{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .portfolio_left,.portfolio_right{
        width: 80%;
    }
    .reviews{
        width: 80%;
    }
}