/* fonts */
@import url(../fonts/fonts.css);
/* components */
@import url(first_block.css);
@import url(second_block.css);
@import url(third_block.css);
@import url(fourth_block.css);
@import url(fifth_block.css);
@import url(sixth_block.css);
@import url(seventh_block.css);
@import url(adaptive.css);
/* all settings*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Gilroy';
}
h2{
    font-family: Playfair Display;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 30px;
}
h3{
    font-family: Gilroy;
    font-size: 18px;
    line-height: 139.4%;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
    margin-top: 100px;
}
/* footer */
.footer{
    height: 50px;
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.29);
    border-top: 0.5px solid rgba(255, 255, 255, 0.29);
}
.footer p{
    width: 85%;
    margin:10px auto;
}